*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: slategrey;
}
.container{  
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.7fr 1.4fr 1.2fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav header activity-bar"
      "nav main activity-bar"
      "album-cover main activity-bar"
      "footer footer footer";
  }
  
  .header{ 
    grid-area: header;
    color: white;
    background-color: black;
    border: 5px solid red;
    height: 200px;


    }
  
  .nav{ 
    grid-area: nav;
    color: white;
    background-color: black;
    border: 5px solid red; 
    position: fixed;
    overflow: scroll;
    width: 20%;

    
    }
  
  .activity-bar{ 
    grid-area: activity-bar;
    color: white;
    background-color: black;
    border: 5px solid red;
    position: fixed;
    z-index: 555; 
    float: right;
    
    }
  
  .main{ 
    grid-area: main;
    color: white;
    background-color: black;
    border: 5px solid red;
    position: fixed;
    overflow: scroll; 
    width: 100%;
    height: 800px;
    z-index: 0;
    
    }
  
  .footer{ 
    grid-area: footer;
    color: white;
    background-color: black;
    border: 5px solid red;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    
    }
  
  .album-cover{ 
    grid-area: album-cover;
    color: white;
    background-color: black;
    border: 5px solid red; 
    position: fixed;
    bottom: 100px;
    width: 20%;
    height: 200px;
    
    }
  